@use '../helpers' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--zindex-overlay);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.3s var(--easing-basic-in-out),
  visibility 0.3s var(--easing-basic-in-out);

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    margin: 0 0 0 auto;

    &-btn {
      position: relative;
      width: rem(40);
      height: rem(40);
      background-color: rgba(255, 255, 255, 0.25);

      &-icon {
        width: rem(24);
        height: rem(24);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18M6 6L18 18' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__content {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
    z-index: 1000;
    @apply max-sm:px-5;
  }

  &__body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.5);
  }
}