@use '../helpers' as *;

.mattresspage {
  margin-bottom: rem(96);

  .title {
    font-size: rem(24);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (min-width: rem(768)) {
      font-size: rem(32);
    }
  }

  .text {
    &:not(:first-child) {
      margin-top: rem(20);
    }
  }

  .banner {
    &__title {
      margin: 0 auto;
      max-width: rem(1200);
      font-size: rem(28);
      text-align: center;

      @media (min-width: rem(768)) {
        font-size: rem(36);
      }
    }
  }

  .kopema-comfort {
    .kopema-comfort-link {
      &:hover {
        .content {
          &::before {
            transform: scaleX(-1) scale(1.05);
          }
        }
      }
    }

    .content {
      display: grid;
      place-content: center;
      height: rem(400);
      position: relative;
      overflow: hidden;

      @media (min-width: rem(768)) {
        height: rem(500);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../public/images/mattress/kopema-mattress.webp') no-repeat center center / cover;
        transform: scaleX(-1);
        z-index: -2;
        transition: transform 0.6s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }
    }

    .text {
      color: rgb(255, 255, 255);
      text-align: center;
    }
  }

  .perfect-mattress {
    .content {
      display: grid;
      place-content: center;
      height: rem(400);
      position: relative;
      overflow: hidden;

      @media (min-width: rem(768)) {
        height: rem(500);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../public/images/mattress/perfect-mattress.webp') no-repeat center center / cover;
        transform: scaleX(-1);
        z-index: -2;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }
    }

    .title {
      color: rgb(255, 255, 255);
      text-align: center;
    }

    .text {
      color: rgb(255, 255, 255);
      text-align: center;
    }
  }

  .kopema-product {
    .kopema-product-list {
      margin-top: rem(40);
      display: flex;
      flex-direction: column;
      gap: rem(44);

      @media (min-width: rem(768)) {
        flex-direction: row;

        & > * {
          width: calc((100% - rem(44)) / 2);
        }
      }
    }

    &-content {
      height: 100%;
      display: grid;
      place-content: center;
      @apply max-sm:order-2;

      .content-title {
        font-size: rem(18);
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media (min-width: rem(768)) {
          font-size: rem(24);
        }
      }

      .content-text {
        margin-top: rem(24);
        letter-spacing: 0.05em;
      }

      .content-list {
        margin-top: rem(20);
        padding-left: rem(20);

        .list-item {
          list-style: disc;
          letter-spacing: 0.05em;
        }
      }

      .content-tag {
        margin-top: rem(24);
        letter-spacing: 0.05em;
      }

      .btn {
        margin-top: rem(40);
        max-width: max-content;

        &-kopema {
          padding: rem(10) rem(16);
          color: rgb(255, 255, 255);
          text-decoration: none;
          text-transform: capitalize;
          border-radius: 0 1.25rem;
          border: none;
          background: rgb(0,0,0);
          transition: all .3s ease-in-out;
          transition-property: transform;
          transition-timing-function: cubic-bezier(.4,0,.2,1);
          transition-duration: .15s;

          &:hover {
            transform: scale(1.05);
          }

          &-bubbles {
            background: #80CCB8;
          }

          &-bounce {
            background: #734177;
          }

          &-braze {
            background: #F1647E;
          }

          &-byron {
            background: #544A3E;
          }
        }
      }
    }

    &-image {
      @apply max-sm:order-1;
    }
  }
}
