@use '../helpers' as *;

// https://piccalil.li/blog/a-modern-css-reset

/* Set the color for selected text */
::selection {
  background-color: rgba(89, 89, 89, 0.2);
  color: rgb(226, 214, 30);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin/padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    @media (min-width: rem(1200)) {
    &::-webkit-scrollbar {
      width: .5rem;
      height: .5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #D1D1D1; //#B0B0B0;
      border-radius: 0;
    }

    &::-webkit-scrollbar-track {
      background: #F5F5F5 //#E0E0E0;
    }
  }
}

main {
  // padding-top: rem(64);

  // @media (min-width: rem(1200)) {
  //   padding-top: rem(80);
  // }

  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.no-scroll {
  overflow: hidden;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
